@model IEnumerable<Express.Models.Proizvod>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="card car-card">
                    <img src="@item.Slika" class="card-img-top car-image" alt="Car Image" onerror="this.src='~/images/no-image.png'" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Proizvodjac @item.Model</h5>
                        <p class="card-text">Cijena: @item.Cijena</p>
                        <p class="card-text">Kilometraza u km: @item.Kilometraza</p>
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Details</a>
                    </div>
                </div>
			</div>
        }
    </div>
</div>
 


